
/*.App {*/
    /*text-align: center;*/
/*}*/
el-form-item {
    text-align: left;
    /*clear: both;*/
}
.App{
    height: 100%;
    width:100%;
}
.el-input__inner, .el-form-item__label{
    /*float: left;*/
    height: 20px;
    line-height: 20px;
    /*font-size:0.6em;*/
    font-size: 12px;
    font-family: Arial, serif;
    margin: 2px;
    align-items: center;
    text-align: center;

}



/*淘宝CSS格式化代码*/
body,
h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}

body, button, input, select, textarea {
    font: 12px/1.5 tahoma, arial, \5b8b\4f53;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

address, cite, dfn, em, var {
    font-style: normal;
}

code, kbd, pre, samp {
    font-family: couriernew, courier, monospace;
}

small {
    font-size: 12px;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    /*text-decoration: move;*/
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

legend {
    color: #000;
}

fieldset, img {
    border: 0;
}

button, input, select, textarea {
    font-size: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*布局CSS代码*/

body, html {
    background: #EAEEF2;
    width: 100%;
    height: 100%;
    color: lightblue;
}
#root{
    width: 100%;
    height: 100%;
    display: inline-table;
}
.container-fluid {
    background: aquamarine;
    height: 100%;
}

.logo {
    background: black;
    font-size: 40px;
    padding-left: 20px;
    height: 60px;
    min-height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}

.nav {
    background: white;
    font-size: 12px;
    height: 100%;
    width: 25%;
    float: left;
    position: relative;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.nav-right {
    background: white;
    font-size: 12px;
    height: 100%;
    width: 20%;
    float: right;
    position: relative;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);
}


.content {
    height: 100%;
    width: 55%;
    z-index: 10;
    float: left;
    padding: 0px 10px;
}

/**
*用于清除浮动造成的父容器不能被撑开
*/
.content:before,
.content:after {
    content: " ";
    display: table;
}
.content:after {
    clear: both;
}
.content-body {
    padding-left: 15px;
    padding-right: 15px;
    background: white;
    width: 100%;
    height: 100%;
    display: block;
    font-size: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow: auto;
}

.main {
    background: #F8F8F8;
    height: 100%;
    padding-top: 68px;
    padding-bottom: 6px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.components-list ul {
    position: relative;
    overflow: hidden;
    padding: 0 10px 10px;
    margin: 0;
}
.components-list .form-edit-widget-label {
    font-size: 12px;
    display: block;
    width: 48%;
    line-height: 26px;
    position: relative;
    float: left;
    left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 1%;
    color: #333;
    border: 1px solid #f4f6fc;
}
.components-list .form-edit-widget-label:hover {
    color: #409eff;
    border: 1px dashed #409eff
}

.components-list .form-edit-widget-label>a {
    display: block;
     cursor:move;
    background: #f4f6fc;
    border: 1px solid #f4f6fc;
}

.components-list .form-edit-widget-label>a .icon {
    margin-right: 6px;
    margin-left: 8px;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle
}

.components-list .form-edit-widget-label>a span {
    display: inline-block;
    vertical-align: middle
}
